[profile.default]
fs_permissions = [
    { access = "read", path = "./addresses" },
    { access = "read", path = "./chainConfigs" },
]

src = "contracts"
out = "out"
libs = ["lib"]

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
